# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
.venv/
venv/

# Environment variables
.env

# SQLite databases
*.db

# Logs
*.log

# .vscode settings
.vscode/

# Git Large File Storage files
q_table.json
